# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @zflamig @cgmeyer @abgeorge7 @hugheslaron @philloooo @svburke @vzpgb @qingyashu

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies markdown files, only owners here and not the global
# owner(s) will be requested for a review.
*.md @zflamig @cgmeyer @abgeorge7 @hugheslaron @philloooo @svburke
