#https://www.mkdocs.org/user-guide/configuration/#
site_name: Gen3 Documentation
site_url: https://gen3.org/
repo_url: https://github.com/uc-cdis/gen3.org/tree/master/gen3
nav:
  - Home: index.md
  - Demo @ gen3.datacommons.io: https://gen3.datacommons.io/
  - Get Started:
    - get-started/index.md
    - Set up gen3: get-started/coming-soon.md
    - Submit Metadata & Data: get-started/coming-soon.md
    - Access and Explore Metadata and Data Files: get-started/coming-soon.md
    - Build Apps on Gen3: get-started/coming-soon.md
  - Resources:
    - resources/index.md
    - Gen3 Features: resources/gen3-features.md
    - New Gen3 Glossary: resources/glossary.md
    - Gen3 User Guide:
      - Overview: resources/user-guide/overview.md
      - Access & Explore Metadata/Data Files: resources/user-guide/access-and-explore.md
      - Analyze Data: resources/user-guide/analyze-data.md
      - Guide for Data Contributions: resources/user-guide/submit-data.md
      - TSV Formatting and Templates: resources/user-guide/TSV-formatting.md
      - Upload/Download Data Files using the Gen3 Client: resources/user-guide/Gen3-client.md
      - Data Dictionary: resources/user-guide/data-dic.md
      - Managing Timepoints: resources/user-guide/manage-timepoints.md
      - Using the API: resources/user-guide/use-API.md
      - Query the Data: resources/user-guide/query-data.md
    - Gen3 Developer:
      - resources/developer/index.md
      - Technical Intro: resources/developer/index.md
      - Microservices: resources/developer/microservice.md
      - Build Apps on Gen3: resources/developer/build-app.md
      - Gen3 Queries: resources/developer/flat-model-api.md
    - Gen3 Operator - Set up Gen3: resources/operator.md
    - Contributing to Gen3: resources/contribute.md
    - Frequently Asked Questions: resources/faq.md
  - Community: https://gen3.org/community/
  - Contact: contact.md

theme:
  favicon: img/Gen3-3.ico
  logo: img/Gen3_Logo-01_blue_no_commons.png
  name: material

  palette:

   # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: brh_platform
      toggle:
        icon: material/eye
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: brh_platform_dark
      toggle:
        icon: material/eye-outline
        name: Switch to light mode
  features:
    - navigation.indexes
    - navigation.tracking
extra_css:
  - stylesheets/extra.css
use_directory_urls: true
markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - toc:
      permalink: True
      baselevel: 1
  - pymdownx.superfences
  - pymdownx.details
plugins:
  - search
  - mkdocs-video:
      is_video: True
