// from https://codepen.io/studiojvla/pen/qVbQqW
@mixin white-gradient {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

// trip time fora full pass of all images
$animationSpeed: 60s;

// Animation
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        // sum of width of all images + paddings (for infinity scrolling trick)
        transform: translateX(-6200px);
    }
}

// Styling
.g3-slider {
    background: white;
    height: 60px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 1000px;

    &::before,
    &::after {
        @include white-gradient;
        content: "";
        height: 60px;
        position: absolute;
        width: 200px;
        z-index: 2;
    }

    &::after {
        right: 0;
        top: 0;
        transform: rotateZ(180deg);
    }

    &::before {
        left: 0;
        top: 0;
    }

    .g3-slide-track {
        animation: scroll $animationSpeed linear infinite;
        display: flex;
        // (sum of width of all images + paddings) * 2
        width: 7684px;
    }
}
