.g3-footer {
  background-color: black;
  width: 100%;
}

.g3-footer__wrapper {
  max-width: 1220px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.g3-footer__logo-wrapper {
  display: flex;
  flex-grow: 1;
}

.g3-footer__logo {
  margin-top: auto;
  margin-bottom: auto;
}

.g3-footer__logo-img {
  height: 80px;
}

.g3-footer__link {
  color: white;
  font-size: 18px;
}

.g3-footer__link:hover {

}

.g3-footer__link-group {
  padding: 50px;
  flex-grow: 0;
}


@media screen and (max-width: 700px) {
  .g3-footer__wrapper {
    width: 100%;
    flex-direction: column;
    justify-content: unset;
  }
  .g3-footer__logo-wrapper {
    padding: 20px;
  }
  .g3-footer__logo {
    height: 30px;
  }
  .g3-footer__link-group {
    padding: 20px;
    flex-grow: 0;
  }
}