.g3-header {
  background-color: black;
  width: 100%;
}

.g3-mb-menu {
  display: none;
}

.g3-mb-header {
  display: none;
}

@media screen and (max-width: 640px) {
  .g3-header {
    display: none;
  }

  .g3-mb-header {
    display: block;
  }

  .g3-mb-menu {
    display: block;
    position: fixed;
    height: 100%;
    overflow-y: scroll;
  }

  .g3-mb-scroll-fix {
    overflow: hidden;
  }
}

.g3-header__wrapper {
  width: 1220px;
  height: 80px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.g3-header__logo-wrapper {
  display: flex;
}

.g3-header__logo {
  height: 37px;
  margin: auto;
}

.g3-header__navbar {
  font-weight: 300;
  letter-spacing: 0.02rem;
}

.g3-header__nav-item {
  display: inline-block;
  margin-left: 70px;
  position: relative;
}

.g3-header__nav-link {
  color: white;
  line-height: 80px;
  font-size: 18px;
}

.g3-header__nav-link:hover {
  color: white;
}

.g3-header__nav-item--active .g3-header__nav-link {
  font-weight: 400;
  color: var(--g3-color__brand-yellow);
}

.g3-header__dropdown {
  display: none;
  position: absolute;
  left: calc(50% - 118px);
  width: 260px;
  border: 1px solid var(--g3-color__bg-bluegrey);
  border-radius: 10px;
  box-shadow: 0px 2px 5px #4F586F;
  background-color: white;
  text-align: center;
  padding: 0 0 30px 0;
}

.g3-header__nav-item:hover .g3-header__dropdown {
  display: block
}

.g3-header__nav-link-arrow {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 10px solid white;
  line-height: 0;
  position: absolute;
  top: calc(50% - 7px);
  right: -20px;
}

.g3-header__dropdown-arrow {
  width: 0;
  height: 0;
  position: absolute;
  left: 124px;
  top: -20px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 20px solid white;
}

.g3-header__nav-subitem {
  margin-top: 30px;
}

.g3-header__nav-subitem--active {

}

.g3-header__nav-subitem:hover {
  
}

.g3-header__subnav {
  background-color: var(--g3-color__bg-bluegrey);
}

.g3-header__subnav-wrapper {
  width: 1220px;
  margin: auto;
}

.g3-header__subnav-link {
  color: white;
  margin-right: 70px;
  height: 60px;
  line-height: 60px;
  font-size: 18px;
}

.g3-header__subnav-link--active {
  font-weight: 400;
  color: var(--g3-color__brand-yellow);
}

/*----- mobile styles ------*/
.g3-mb-menu {
  width: calc(100% - 40px);
  background-color: var(--g3-color__bg-solight);
  position: fixed;
  top: 0;
}

.g3-mb-menu--toggled {
  display: none;
}

.g3-mb-menu__top {
  height: 30px;
  line-height: 60px;
  display: flex;
  border-bottom: solid 1px black;
  padding: 15px 0 15px 20px;
}

.g3-mb-menu__logo-wrapper {
  flex-grow: 1;
  display: flex;
}

.g3-mb-menu__logo {
  height: 40px;
  vertical-align: middle;
  margin: auto;
}

.g3-mb-menu__close {
  width: 20px;
  vertical-align: middle;
}

.g3-mb-menu__content {
  padding: 40px 0 40px 0;
}

.g3-mb-menu__item {
  margin-bottom: 40px;
  list-style: none;
}

.g3-mb-menu__link {
  padding-left: 20px;
  font-size: 18px;
}

.g3-mb-menu__link--active {
  color: var(--g3-color__brand-yellow);
}

.g3-mb-menu__toggle-arrow {
  width: 10px;
  margin-left: 6px;
  position: relative;
  top: 3px;
}

.g3-mb-menu__toggle-arrow--toggled {
  transform: rotate(270deg);
  top: 0;
}

.g3-mb-menu__sub-content {
  border-bottom: solid 1px black;
}

.g3-mb-menu__sub-content--toggled {
  display: none;
}

.g3-mb-menu__subitem {
  margin-left: 20px;
  margin-top: 20px;
  list-style: disc;
}

.g3-mb-menu__subitem--active {
  color: var(--g3-color__brand-yellow);
}

.g3-mb-menu__subitem:last-child {
  margin-bottom: 40px;
}

.g3-mb-menu__subitem-link {
  font-size: 18px;
}

.g3-mb-menu__subitem-link--active {
  color: var(--g3-color__brand-yellow);
}

.g3-md-header__menu-head {
  background-color: black;
  height: 60px;
  display: flex;
}

.g3-md-header__menu-icon {
  padding-left: 20px;
}

.g3-md-header__logo {
  flex-grow: 1;
  margin: auto;
}

.g3-md-header__title_bar {
  background-color: var(--g3-color__bg-bluegrey);
}

.g3-md-header__title {
  color: white;
  line-height: 25px;
  text-align: center;
}

.g3-mb-menu__mask {
  background-color: gray;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 40px;
  opacity: .5;
  overflow: hidden;
}















