.g3-header {
  background-color: black;
  width: 100%;
}

.g3-mb-menu {
  display: none;
}

.g3-mb-header {
  display: none;
}

@media screen and (max-width: 975px) {
  .g3-header {
    display: none;
  }

  .g3-mb-header {
    display: block;
    position: fixed;
    top: -60px;
    left: 0;
    right: 0;
    transition: top .3s;
    z-index: 10000000;
  }

  .g3-mb-header--scrolling-up {
    top: 0px;
  }

  .g3-mb-menu {
    display: block;
    position: fixed;
    height: 100%;
    overflow-y: scroll;
  }

  .g3-mb-scroll-fix {
    overflow-y: hidden;
    position: fixed;
  }

  .g3-mb__space-holder {
    height: 85px;
    width: 10px;
  }
}

.g3-header__wrapper {
  max-width: 1220px;
  height: 80px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.g3-header__logo-wrapper {
  display: flex;
}

.g3-header__logo {
  height: 50px;
  margin: auto;
}

.g3-header__logo-img {
  height: inherit;
  height: -webkit-fill-available;
  height: -moz-available;
}

.g3-header__navbar {
  font-weight: 300;
  letter-spacing: 0.02rem;
}

.g3-header__nav-item {
  display: inline-flex;
  margin-left: 70px;
  position: relative;
  padding-right: 6px;
}

.g3-header__nav-link {
  color: white;
  line-height: 80px;
  font-size: 18px;
}

.g3-header__nav-link:hover {

}

.g3-header__nav-item--active .g3-header__nav-link {
  font-weight: 400;
  color: var(--g3-color__brand-yellow);
}

.g3-header__dropdown {
  display: none;
  position: absolute;
  left: calc(50% - 118px);
  top: 80px;
  width: 260px;
  box-shadow: 0px 2px 5px #4F586F;
  background-color: white;
  text-align: left;
  padding: 0 0 15px 15px;
  z-index: 1000000;
}

.g3-header__nav-item:hover .g3-header__dropdown {
  display: block
}

.g3-header__nav-link-arrow {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 10px solid white;
  position: relative;
  top: 34px;
  left: 6px;
}

.g3-header__dropdown-arrow {
  width: 0;
  height: 0;
  position: absolute;
  left: 124px;
  top: -20px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 20px solid white;
}

.g3-header__nav-subitem {
  margin-top: 15px;
}

.g3-header__nav-subitem--active {

}

.g3-header__nav-subitem:hover {
  
}

.g3-header__subnav {
  background-color: var(--g3-color__bg-bluegrey);
}

.g3-header__subnav-wrapper {
  width: 1220px;
  margin: auto;
}

.g3-header__subnav-link {
  color: white;
  margin-right: 70px;
  height: 60px;
  line-height: 60px;
  font-size: 18px;
}

.g3-header__subnav-link--active {
  font-weight: 400;
  color: var(--g3-color__brand-yellow);
}

.g3-header__link-icon {
  width: 14px;
  position: relative;
  top: 2px;
  margin-left: 3px;
}

/*----- mobile styles ------*/
.g3-mb-menu {
  width: calc(100% - 40px);
  background-color: var(--g3-color__bg-solight);
  position: fixed;
  top: 0;
  z-index: 10000001;
  left: 0;
  transition: left .3s;
}

.g3-mb-menu--toggled {
  left: -100%;
}

.g3-mb-menu--toggled .g3-mb-menu__mask {
  visibility: none;
}

.g3-mb-menu__top {
  height: 30px;
  line-height: 60px;
  display: flex;
  border-bottom: solid 1px black;
  padding: 15px 0 15px 20px;
}

.g3-mb-menu__logo-wrapper {
  flex-grow: 1;
  display: flex;
}

.g3-mb-menu__logo {
  height: 40px;
  vertical-align: middle;
  margin: auto;
}

.g3-mb-menu__close {
  width: 20px;
  vertical-align: middle;
}

.g3-mb-menu__content {
  padding: 40px 0 40px 0;
}

.g3-mb-menu__item {
  margin-bottom: 40px;
  list-style: none;
}

.g3-mb-menu__link {
  padding-left: 20px;
  font-size: 18px;
}

.g3-mb-menu__link--active {
  color: var(--g3-color__brand-yellow);
}

.g3-mb-menu__toggle-arrow {
  width: 10px;
  margin-left: 6px;
  position: relative;
  top: 3px;
}

.g3-mb-menu__toggle-arrow--toggled {
  transform: rotate(270deg);
  top: 0;
}

.g3-mb-menu__sub-content {
  border-bottom: solid 1px black;
}

.g3-mb-menu__sub-content--toggled {
  display: none;
}

.g3-mb-menu__subitem {
  margin-left: 20px;
  margin-top: 20px;
  list-style: disc;
}

.g3-mb-menu__subitem--active {
  color: var(--g3-color__brand-yellow);
}

.g3-mb-menu__subitem:last-child {
  margin-bottom: 40px;
}

.g3-mb-menu__subitem-link {
  font-size: 18px;
}

.g3-mb-menu__subitem-link--active {
  color: var(--g3-color__brand-yellow);
}

.g3-md-header__menu-head {
  background-color: black;
  height: 60px;
  display: flex;
}

.g3-md-header__menu-icon {
  padding-left: 20px;
}

.g3-md-header__logo {
  flex-grow: 1;
  margin: auto;
  height: inherit;
  height: -webkit-fill-available;
  height: -moz-available;
}

.g3-md-header__title_bar {
  background-color: var(--g3-color__bg-bluegrey);
}

.g3-md-header__title {
  color: white;
  line-height: 25px;
  text-align: center;
}

.g3-mb-menu__mask {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  z-index: 10000000;
  background-color: rgba(128, 128, 128, .5);
  visibility: visible;
  opacity: 1;
  transition: visibility .3s;
}

.g3-mb-menu__mask--toggled {
  visibility: hidden;
  opacity: 0;
}










