.g3-markdown-wrapper {
  width: 1220px;
  margin: auto;
  padding-bottom: 60px;
}

.g3-markdown-wrapper h1,
.g3-markdown-wrapper h2,
.g3-markdown-wrapper h3,
.g3-markdown-wrapper h4 {
  margin-top: 1.3em;
  margin-bottom: .6em;
}

.g3-markdown-wrapper p,
.g3-markdown-wrapper .highlight {
  margin-bottom: 1em;
}
/*
.g3-markdown-wrapper code {
  background-color: #f5f5f5;
  color: #ff3860;
  font-size: .875em;
  font-weight: 400;
  padding: .25em .5em .25em;
}

.g3-markdown-wrapper .highlight pre {
  overflow-x: scroll;
}

.g3-markdown-wrapper .highlight code {
  background-color: inherit;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.g3-markdown-wrapper pre {
  background-color: #f5f5f5;
  padding: 15px;
}

.g3-markdown-wrapper pre code {
  color: inherit;
  background-color: inherit;
}*/

.g3-markdown-wrapper a {
  color: #3273dc;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
}

.g3-markdown-wrapper img {
  max-width: 100%;
}

@media screen and (max-width: 640px) {
  .g3-markdown-wrapper {
    width: 100%;
  }

  .g3-markdown-content {
    padding: 0 20px;
  }
}