:root{
  --g3-color__brand-yellow: #DBCB32;
  --g3-color__brand-blue: #003E7D;
  --g3-color__brand-blue--hover: #3498D6;
  --g3-color__bg-bluegrey: #4F586F;
  --g3-color__bg-solight: #F4F5F9;
}

body {
  padding: 0;
  margin: 0;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 0.02rem;
  line-height: 1.6em;
  color: black;
  font-family: 'Khula', sans-serif;
}

a {
  text-decoration: none;
  font-weight: 300;
  font-size: 22px;
  letter-spacing: 0.02rem;
  color: var(--g3-color__brand-blue);
}

a:hover {
  color: var(--g3-color__brand-blue--hover);
}
