@media screen and (min-width: 975px) {
  .g3-withtoc-wrapper {
    max-width: 1220px;
    margin: auto;
    display: flex;
  }

  .g3-withtoc-wrapper__menu {
    min-width: 320px;
    max-width: 320px;
    height: min-content;
    margin-top: 80px;
    padding-top: 20px;
    position: sticky;
    top: 0;
  }
}

  .g3-withtoc-wrapper__content {
    padding: 20px;
  }

  .g3-side-menu {
    background: var(--g3-color__bg-solight);
  }

  .g3-side-menu__category {
    border-bottom: solid 1px black;
  }

  .g3-side-menu__category:last-child {
    border-bottom: none;
  }

  .g3-side-menu__caption {
    font-weight: 700;
  }

  .g3-side-menu__caption,
  .g3-side-menu__item,
  .g3-side-menu__sub-item {
    padding: 12px 20px 8px 20px;
    font-size: 15px;
  }

  .g3-side-menu__item {
    display: block;
  }

  .g3-side-menu__item--active {
    background-color: var(--g3-color__bg-bluegrey);
    color: var(--g3-color__brand-yellow);
  }

  .g3-side-menu__item--active:hover {
    background-color: var(--g3-color__brand-blue);
    color: var(--g3-color__brand-yellow);
  }

  .g3-side-menu__sub-item {
    display: block;
    background-color: var(--g3-color__bg-bluegrey);
    padding-left: 30px;
    color: white;
  }

  .g3-side-menu__sub-item:hover {
    background-color: var(--g3-color__brand-blue);
    color: white;
  }

  .g3-withtoc-wrapper__next-prev {
    max-width: 1220px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
    margin-bottom: 60px;
  }

  .g3-withtoc-wrapper__next-button {
    float: right;
  }

  .g3-withtoc-wrapper__prev-button {

  }

  .g3-withtoc-wrapper__next-prev .g3-button {
    width: calc(50% - 20px);
  }

  .g3-side-menu__mb-title {
    display: none;
  }


@media screen and (max-width: 975px) {
  .g3-md-header__title_bar,
  .g3-mb__space-holder {
    display: none;
  }

  .g3-withtoc-wrapper__content {
    padding: 0;
    margin-top: 80px;
  }

  .g3-side-menu__mb-title {
    display: flex;
    padding: 10px 20px;
    font-size: 15px;
    background-color: var(--g3-color__brand-blue);
    color: white;
    font-weight: 700;
    cursor: pointer;
    justify-content: center;
  }

  .g3-side-menu__mb-icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('/img/icons/minus.svg');
    margin-right: 8px;
  }

  .g3-side-menu__mb-title--toggled .g3-side-menu__mb-icon {
    background-image: url('/img/icons/add.svg');
  }

  .g3-withtoc-wrapper__menu {
    text-align: center;
    margin: 0;
    padding: 0; 
    position: sticky;
    top: 60px;
    transition: top .3s;
    width: 100%;
  }

  .g3-withtoc-wrapper__menu--scrolling-down {
    top: 0;
  }

  .g3-side-menu__caption {
    display: none;
  }

  .g3-side-menu__category {
    border-bottom: none;
  }

  .g3-side-menu__sub-item {
    display: none;
  }

  .g3-side-menu__category--toggled {
    display: none;
  }
}