<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {{ partial "css.html" . }}
    {{ partial "ga.html" . }}
    {{ partial "unfurl.html" . }}
    <title>{{ .Title }}</title>
  </head>
  <body>
  <!-- Begin banner code -->
  <div id="announcement-banner" style="background-color: #ffcc00; color: #333; text-align: center; padding: 10px;">
    The Gen3 technical documentation is moving to a new home at
  <a href="https://docs.gen3.org" style="color: #0000ee; text-decoration: underline;">docs.gen3.org</a>! This will replace much of the technical content from gen3.org. Please check out the new site and <a href="https://github.com/uc-cdis/docs-gen3?tab=readme-ov-file#how-to-request-updates" style="color: #0000ee; text-decoration: underline;">provide feedback</a> during the transition period while both are available. After the transition period, gen3.org will remain as a site for high-level content about Gen3 along with community and events information, but all Gen3 technical guides and resources will move to docs.gen3.org.
  <button onclick="document.getElementById('announcement-banner').style.display='none'" style="margin-left: 20px; background: none; border: none; font-size: 20px; cursor: pointer;">&times;</button>
</div>
<!-- End banner code -->
{{ partial "header.html" . }}
    {{ block "main" . }}
    {{ end }}
    {{ partial "footer.html" . }}
  </body>
</html>
