<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {{ partial "css.html" . }}
    {{ partial "ga.html" . }}
    {{ partial "unfurl.html" . }}
    <title>{{ .Title }}</title>
  </head>
  <body>
  <!-- Begin banner code -->
  <div id="announcement-banner" style="background-color: #ffcc00; color: #333; text-align: center; padding: 10px;">
    The Gen3 technical documentation is moving to a
  <a href="https://docs.gen3.org" style="color: #0000ee; text-decoration: underline;">new home</a>! Please check out the new documentation and provide feedback during the transition period when both are available.
  <button onclick="document.getElementById('announcement-banner').style.display='none'" style="margin-left: 20px; background: none; border: none; font-size: 20px; cursor: pointer;">&times;</button>
</div>
<!-- End banner code -->
{{ partial "header.html" . }}
    {{ block "main" . }}
    {{ end }}
    {{ partial "footer.html" . }}
  </body>
</html>
