<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {{ partial "css.html" . }}
    {{ partial "ga.html" . }}
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:title" content="{{ .Title }}" />
    {{ if .Description }}
      <meta property="og:description" content="{{ .Description }}" />
    {{ else }}
      <meta property="og:description" content="Gen3 is an open source software with Apache 2.0 or similar licenses, colocating compute and storage in a data commons. It is agnostic to the data type and the storage location, needing, minimally, a data model, data, a secure landing page for the portal, and research goals." />
    {{ end }}
    {{ if $.Param "teaser" }}
      <meta property="og:image" content="{{ .Site.BaseURL }}{{ $.Param "teaser" }}" />
    {{ else }}
      <meta property="og:image" content="{{ .Site.BaseURL }}img/figs/gen3-product.png" />
    {{ end }}
    <title>{{ .Title }}</title>
  </head>
  <body>
    {{ partial "header.html" . }}
    {{ block "main" . }}
    {{ end }}
    {{ partial "footer.html" . }}
  </body>
</html>