<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {{ partial "css.html" . }}
    <link rel="stylesheet" href="{{ "css/toc.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "css/markdown.css" | relURL }}" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:title" content="{{ .Title }}" />
    {{ if .Description }}
      <meta property="og:description" content="{{ .Description }}" />
    {{ else }}
      <meta property="og:description" content="{{ .Title }}" />
    {{ end }}
    {{ if $.Param "teaser" }}
      <meta property="og:image" content="{{ .Site.BaseURL }}{{ $.Param "teaser" }}" />
    {{ else }}
      <meta property="og:image" content="{{ .Site.BaseURL }}img/figs/gen3-product.png" />
    {{ end }}
    {{ partial "ga.html" . }}
    <title>{{ .Title }}</title>
  </head>
  <body>
    {{ partial "header.html" . }}
    <div class="g3-withtoc-wrapper">
      <aside class="g3-withtoc-wrapper__menu">
        <div class="g3-side-menu">
          {{ partial "toc.html" . }}
        </div>
      </aside>
      <div class="g3-withtoc-wrapper__content g3-markdown-wrapper">
        <div class="g3-markdown-content">
        {{ .Content }}
        </div>
      </div>
    </div>
    <div class="g3-withtoc-wrapper__next-prev">
      {{ partial "nextprev.html" . }}
    </div>
    {{ partial "footer.html" . }}
  </body>
</html>