{{- $sellingPoints := .Site.Params.contributors -}}
{{- $tagline := $sellingPoints.tagline }}
{{- $aname := $sellingPoints.aname }}
{{- $logos := $sellingPoints.logos }}
<section class="section is-medium">
  <a name="{{ $aname }}"></a>
  <div class="container">
    <div class="columns">
      <div class="column">
          <h1 class="title section-title">{{ $tagline }}</h1>
      </div>
      <div class="contributors logos">
      {{- range $logos -}}
        <img src="{{ printf "img/logos/%s" .icon | relURL }}">
      {{- end -}}
      </div>
    </div>
  </div>
</section>
