<link rel="shortcut icon" type="image/png" href="{{ "img/favicon.png" | relURL }}" />
<link rel="stylesheet" href="{{ "css/bulma.min.css" | relURL }}" />
<link rel="stylesheet" href="{{ "css/icons.css" | relURL }}" />
<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
{{- if .Site.IsServer -}}
{{- $coreCssUrl := printf "css/%s" (index .Site.Data.assetHashes "core.css") | relURL }}
<link rel="stylesheet" href="{{ $coreCssUrl }}" />
{{- else }}
<link rel="stylesheet" href="{{ "css/core.css" | relURL }}" />
{{- end }}
