{{- $hero := .Site.Params.demo }}
{{- $tagline := $hero.tagline -}}
{{- $subTagline := $hero.subtagline -}}
{{- $buttonText := $hero.buttonText }}
{{- $aname := $hero.aname }}
{{- $heroImageUrl := printf "img/%s" $hero.image | relURL -}}
<section class="section hero is-fullheight is-default is-bold is-slanted section-secondary">
  <a name="{{ $aname }}"></a>
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns is-vcentered">
        <div class="column is-4 is-offset-1 has-text-left">
          <h1 class="big-title">
            {{ $tagline }}
          </h1>
          {{- with $subTagline -}}
          <h2 class="subtitle is-5">
            {{ . }}
          </h2>
          {{- end -}}
          <br>
          {{- range $buttonText -}}
          <p class="has-text-left">
            <a href="{{ .link }}" target="_blank" class="button cta is-large rounded primary-btn raised">
              {{ .text }}
            </a>
          </p>
          {{- end -}}
        </div>
        <div class="column is-5 is-offset-2">
          <figure class="image is-4by3">
            <img src="{{ $heroImageUrl }}" alt="Description">
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
