{{- $hero := .Site.Params.hero }}
{{- $tagline := $hero.tagline -}}
{{- $subTagline := $hero.subtagline -}}
{{- $why := $hero.why -}}
{{- $buttonText := $hero.buttonText }}
{{- $heroImageUrl := printf "img/%s" $hero.image | relURL -}}

  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns is-vcentered">
        <div class="column is-4 is-offset-1 has-text-left">
          <h1 class="big-title">
            {{ $tagline }}
          </h1>
          {{- with $subTagline -}}
          <h2 class="subtitle is-5">
            {{ . }}
          </h2>
          {{- end -}}
          <br>
          {{- range $buttonText -}}
          <p class="has-text-left">
            <a href="{{ .link }}" target="_blank" class="button cta is-large rounded primary-btn raised">
              {{ .text }}
            </a>
          </p>
          {{- end -}}
        </div>
        <div class="column is-7">
          <figure class="image is-4by3">
            <img src="{{ $heroImageUrl }}" alt="Description">
          </figure>
        </div>
      </div>
      <div class="column is-offset-1">
        <h2 class="subtitle is-3">{{ $why }}
        </h2>
      </div>
    </div>
  </div>
</section>
