{{- $clients := .Site.Params.moreinfo -}}
{{- $tagline := $clients.tagline -}}
{{- $subTagline := $clients.subTagline -}}
{{- $clientExamples := $clients.clientExamples -}}
{{- $aname := $clients.aname }}
<section class="section is-medium section-secondary">
  <a name="{{ $aname }}"></a>
  <div class="container">
    <div class="title-wrapper">
      <h2 class="title is-2 section-title has-text-centered dark-text">
        {{ $tagline }}
      </h2>
    </div>

    <div class="content">
      <h3>Gen3 Logo</h3>
      <p>
        The Gen3 logo may be used to indicate that your resource is powered by the Gen3 platform.
      </p>
      <p>
        Download black logo PNG | SVG
      </p>
      <p>
        Download white logo PNG | SVG
      </p>
      <h3>About Gen3</h3>
      <p>
        Gen3 is an open source software with an Apache 2.0 license for colocating compute and storage in a data commons. Gen3 is agnostic to the data type and the storage location, needing, minimally, a data model, data, a secure landing page for the portal, and, a research goal in mind.
      </p>
    </div>
  </div>
</section>
