{{- $clients := .Site.Params.moreinfo -}}
{{- $tagline := $clients.tagline -}}
{{- $subTagline := $clients.subTagline -}}
{{- $clientExamples := $clients.clientExamples -}}
{{- $aname := $clients.aname }}
<section class="section is-medium section-secondary">
  <a name="{{ $aname }}"></a>
  <div class="container">
    <div class="title-wrapper">
      <h2 class="title is-2 section-title has-text-centered dark-text">
        {{ $tagline }}
      </h2>
    </div>

    <div class="content">
      <h3>Gen3 Logo Usage Guidelines</h3>
      <p>
       Gen3 has a distinguishable logo that should be used as a visual identifier for all data commons powered by Gen3 open-source software.  The Gen3 logo is a restricted use logo for those who build their solutions or data commons with the Gen3 technology or create applications with compatibility to interact with the Gen3 technology. There are guidelines for the logo's appearance and usage, outlined here.
      The restricted use logos may only be used if you meet the requirements specified below.  Please consider whether you will be able to comply with these requirements before applying the logo.
      </p>
      <h4>Standard Color Logo</h4>
      <p>
        The normal full color reproduction is suitable for use on light backgrounds without modification.<br>
        <a href="/img/logos/gen3.svg" download="gen3.svg">Download Standard Full Color Logo</a>
      </p>
      <h4>Inverse Color Logo</h4>
      <p>
        When the logo is used on a background that is darker than 50% grey, you should reverse the type to white for legibility.<br>
        <a href="/img/logos/gen3-white.svg" download="gen3-white.svg">Download Inverse Color Logo</a>
      </p>
      <h4>Clear Space</h4>
      <p>
        There should be enough clear space around the logo.
      </p>
      <h3>About Gen3</h3>
      <p>
        Gen3 is an open source software with an Apache 2.0 license for colocating compute and storage in a data commons. Gen3 is agnostic to the data type and the storage location, needing, minimally, a data model, data, a secure landing page for the portal, and, a research goal in mind.
      </p>
    </div>
  </div>
</section>
