{{- $clients := .Site.Params.services -}}
{{- $tagline := $clients.tagline -}}
{{- $subTagline := $clients.subTagline -}}
{{- $clientExamples := $clients.clientExamples -}}
{{- $clientExamples2 := $clients.clientExamples2 -}}
{{- $aname := $clients.aname }}
<section class="section is-medium section-secondary">
    <a name="{{ $aname }}"></a>
  <div class="container">
    <div class="title-wrapper">
      <h2 class="title is-2 section-title has-text-centered dark-text">
        {{ $tagline }}
      </h2>
    </div>

    <div class="columns is-vcentered mt-40">
      {{- range $clientExamples -}}
      <div class="column is-4">
        <figure class="testimonial">
          <blockquote>
            {{ .quote }}
          </blockquote>
          <div class="author">
            <img src="{{ printf "img/illustrations/faces/%s" .image | relURL }}" alt=""/>
            <span>
              {{ .position }}
            </span>
          </div>
        </figure>
      </div>
      {{- end -}}
    </div>
    <div class="columns is-vcentered mt-40">
      {{- range $clientExamples2 -}}
      <div class="column is-4">
        <figure class="testimonial">
          <blockquote>
            {{ .quote }}
          </blockquote>
          <div class="author">
            <img src="{{ printf "img/illustrations/faces/%s" .image | relURL }}" alt=""/>
            <span>
              {{ .position }}
            </span>
          </div>
        </figure>
      </div>
      {{- end -}}
    </div>
  </div>
</section>
