<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" type="image/png" href="{{ "img/favicon.png" | relURL }}" />
<link href="https://fonts.googleapis.com/css?family=Khula" rel="stylesheet">
<link rel="stylesheet" href="{{ "css/style.css" | relURL }}" />
<link rel="stylesheet" href="{{ "css/header.css" | relURL }}" />
<link rel="stylesheet" href="{{ "css/footer.css" | relURL }}" />
{{ $style := resources.Get "sass/slider.scss" | resources.ToCSS | resources.Minify }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">
