{{- $logoURL := .Site.Params.logo.src -}}
<footer class="g3-footer">
  <div class="g3-footer__wrapper">
    <div class="g3-footer__logo-wrapper">
      <img class="g3-footer__logo" src="{{ $logoURL }}">
    </div>
    <div class="g3-footer__link-group">
      {{ range .Site.Menus.footermenu1.ByWeight }}
      <div class="g3-footer__item">
        <a href="{{ .URL }}" class="g3-footer__link">{{ .Name }}</a>
      </div>
      {{ end }}
    </div>
    <div class="g3-footer__link-group">
      {{ range .Site.Menus.footermenu2.ByWeight }}
      <div class="g3-footer__item">
        <a href="{{ .URL }}" class="g3-footer__link">{{ .Name }}</a>
      </div>
      {{ end }}
    </div>
  </div>
</footer>