{{ with .Get 0 }}
    {{ range $.Page.Param . }}
    <section class="g3-space__padding-sm-top g3-space__padding-sm-bottom">
        <div class="g3-inner-wrapper g3-flex-content">
            <div class="g3-col__50">
                <div class="g3-space__margin-sm-right">
                    {{ if .Image }}
                        <img style="width: 100%;" src="{{ .Image }}" />
                    {{ end }}
                    {{ if .Youtube }}
                        <iframe style="width: 10%; height: 300px;"
                        src="https://www.youtube.com/embed/{{ .Youtube }}" allowfullscreen frameborder="0">
                        </iframe>
                    {{ end }}
                </div>
            </div>
            <div class="g3-col__50">
                <div class="g3-space__margin-sm-left g3-space__margin-sm-right">
                    <p> {{ .Date }}</p>
                    <h1>{{ .Title }}</h1>
                    <p>{{ .Description  }}</p>
                    <ul>
                    {{ if .Slides }}
                            <li>Slides: <a href="{{ .Slides }}">PDF</a></li>
                    {{ end }}
                    {{ if .Youtube }}
                        <li>Video: <a href="https://www.youtube.com/watch?v={{ .Youtube }}">YouTube</a></li>
                    {{ end }}
                    </ul>
                    {{ if .HelmzoomLink }}
                       <a class="g3-button--secondary g3-button" href="{{ .HelmzoomLink }}">Register</a>
                    {{ end }}
                    <!--{{ if .Helmagendalink }}-->
                       <!--<a class="g3-button--secondary g3-button" href="{{ .Helmagendalink }}">Agenda</a>-->
                    <!--{{ end }}-->

                </div>

            </div>
        </div>

    </section>
    <section class="g3-space__padding-sm-top g3-space__padding-sm-bottom">
        <div class="g3-inner-wrapper g3-flex-content">
            <div class="g3-col__25">
                <div class="g3-space__margin-sm-right">
                    {{ if .Image_kickoff }}
                        <img style="width: 100%;" src="{{ .Image_kickoff }}" />
                    {{ end }}
                    {{ if .Youtube }}
                        <iframe style="width: 100%; height: 300px;"
                        src="https://www.youtube.com/embed/{{ .Youtube }}" allowfullscreen frameborder="0">
                        </iframe>
                    {{ end }}
                </div>
            </div>
            <div class="g3-col__70">
                <div class="g3-space__margin-sm-left g3-space__margin-sm-right">
                    <p> {{ .Dateold }}</p>
                    <h1>{{ .Titleold }}</h1>
                    <p>{{ .Descriptionold  }}</p>
                    <ul>
                    {{ if .Slidesold }}
                            <li>Slides: <a href="{{ .Slides }}">PDF</a></li>
                    {{ end }}
                    {{ if .Youtube }}
                        <li>Video: <a href="https://www.youtube.com/watch?v={{ .Youtube }}">YouTube</a></li>
                    {{ end }}
                    </ul>

                    {{ if .LocalLink1old }}
                        <a class="g3-button--secondary g3-button" href="{{ .LocalLink1old }}">Entire Event</a>

                    {{ end }}
                    {{ if .LocalLink2old }}
                        <a class="g3-button--secondary g3-button" href="{{ .LocalLink2old }}">Specific Presentations</a>

                    {{ end }}
                </div>

            </div>
        </div>

    </section>

    {{ end }}
{{ end }}
