{{ with .Get 0 }}
    {{ range $.Page.Param . }}
    <section class="g3-space__padding-sm-top g3-space__padding-sm-bottom">
        <div class="g3-inner-wrapper g3-flex-content">
            <div class="g3-col__50">
                <div class="g3-space__margin-sm-left g3-space__margin-sm-right">
                    {{ if .Image }}
                        <img src="{{ .Image }}" />
                    {{ end }}
                    {{ if .Youtube }}
                        <iframe style="width: 100%; height: 300px;"
                        src="https://www.youtube.com/embed/{{ .Youtube }}" allowfullscreen frameborder="0">
                        </iframe>
                    {{ end }}
                </div>
            </div>
            <div class="g3-col__50">
                <div class="g3-space__margin-sm-left g3-space__margin-sm-right">
                    <p>{{ .Date }}</p>
                    <h1>{{ .Title }}</h1>
                    <p>{{ .Description  }}</p>
                    <ul>
                    {{ if .Link }}
                            <li>30 Mins Presentation</li>
                            <li>30 Mins Q&A (Please post your questions in the zoom chat and we will answer in this time frame)</li>
                    {{ end }}
                    {{ if .Slides }}
                            <li>Slides: <a href="{{ .Slides }}">PDF</a></li>
                    {{ end }}
                    {{ if .Youtube }}
                        <li>Video: <a href="https://www.youtube.com/watch?v={{ .Youtube }}">YouTube</a></li>
                    {{ end }}
                    </ul>
                    {{ if .Link }}
                        <a class="g3-button--secondary g3-button" href="{{ .Link }}">Register on EventBrite</a>
                    {{ end }}
                </div>
            </div>
        </div>

    </section>
    {{ end }}
{{ end }}